<%= provide(:title, "Register" ) %>
<div class="outer-form">

  <h2>register</h2>
  
  <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  
	<%= render 'shared/error_list', model: resource %>
  
  	<div class="field">
  		<%= f.email_field :email,  autofocus: true, placeholder: "Email Address", class: "input" %>
  	</div>	
  
  	<div class="field">
  		<%= f.password_field :password, autocomplete: "off", placeholder: "Password (6 characters mininum)", class: "input" %>
  	</div>
  
  	<div class="field">
  		<%= f.password_field :password_confirmation, autocomplete: "off", placeholder: "Re-enter your password", class: "input" %>
  	</div>
  	
  	<div class="actions">
  		<%= f.button "Sign Up", type: 'submit', class: "button", data: { disable_with: 'Submitting' } %>
  	</div>

  	<%= render "devise/shared/links" %>
  
  <% end %>
</div>