<%= provide(:title, "Forgot Password" ) %>

<div class="devise">

	<h2>forgot password?</h2>
	
	<%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
	
		<% if flash.any? %>
			<div class="flash-messages-devise right">
				<%= render 'shared/flash_messages' %>
			</div>
		<% end %>
	
		<div class="field">
			<%= f.email_field :email, autofocus: true , placeholder: 'Enter Email' ,class: "input" %>
		</div>
	
		<div class="actions">
	
			<%= f.submit "Send Me Password", class: "button" %>
				
			<%= render "devise/shared/links" %>
	
		</div>
	
	<% end %>

</div>
