<!-- CONTENT -->
<%= render 'cover' %>


<div class="content">



	<!-- SECTION 1 -->


	<div class="section" id="mission">

		<div class="content-wrapper">

			<h2 class="section__header section__header--black">We get it.</h2>

			<p class="section__text">Tracking every activity of your lifestyle and measuring its impact is not exactly a piece of cake!</p>

		</div>
	</div>



	<!-- SECTION 2 -->

	
	<div class="section section--green" id="problem">

		<div class="content-wrapper">

			<h2 class="section__header section__header--white">Have you ever ...</h2>

			<div class="container container--third">

				<i class="container__icon container__icon--white fa fa-shopping-cart"></i>

				<p class="container__text container__text--white"> 
					Felt greenwashed or misled by the brands that put all these sustainability claims, buzzwords and labels on their products?
				</p>

			</div>

			<div class="container container--third ">

				<i class="container__icon container__icon--white fa fa-euro"></i>
				
				<p class="container__text container__text--white"> 
					Endured the pressure of high, recurring energy bills and wondered how much money you could actually save through just smart energy use habits?
				</p>

			</div>

			<div class="container container--third ">

				<i class="container__icon container__icon--white fa fa-leaf"></i>
				
				<p class="container__text container__text--white"> 
					Wondered what the most effective way to reduce your lifestyle's negative social and environmental impact is?
				</p>

			</div>

		</div>
	</div>

	

	<!-- SECTION 3 -->

	<div class="section" id="solution">

		<div class="content-wrapper">

				
		</div>

	</div>
	


	<!-- SECTION 4 -->

	<div class="section section--grey" id="news">

		<div class="content-wrapper">

			
		</div>

	</div>



	<!-- SECTION 5 -->

	<div class="slider">
						
		<div class="slider__element">
		
			<%= image_tag("adam-conn.png", class: "slider__image") %>
			<%= image_tag("bluesquare.png", class: "slider__image") %>
			<%= image_tag("gmeente.png", class: "slider__image") %>
		
		</div>

		<div class="slider__element">
		
			<%= image_tag("kozen.png", class: "slider__image") %>
			<%= image_tag("invincible.png", class: "slider__image") %>
			<%= image_tag("shutup&trick.png", class: "slider__image") %>

		
		</div>
	
	</div>
	
	

	<!-- SECTION 6 -->
	
	<div class="section section--green">
		<div class="content-wrapper">
			<h2 class="section__header section__header--white">Get Involved!</h2>

			<div class="container container--third">
				
				<h3 class="container__header container__header--white">Be an early adopter</h3>
				
				<i class="container__icon container__icon--white fa fa-tasks"></i>

				<p class="container__text container__text--white"> 
					Beta test the app for us. Tell us what's good about it, what we can do better... send us an email and be a part of it.
				</p>

			</div>

			<div class="container container--third ">
				
				<h3 class="container__header container__header--white">Spread the word around</h3>

				<i class="container__icon container__icon--white fa fa-share-alt"></i>
				
				<p class="container__text container__text--white"> 
					Write about us in your blogs, facebook feeds or tweet about us.
				</p>

			</div>

			<div class="container container--third ">
				
				<h3 class="container__header container__header--white">Join us</h3>
				
				<i class="container__icon container__icon--white fa fa-users"></i>
				
				<p class="container__text container__text--white"> 
					If you think you have the skills to contribute to this project, reach out to us... let's grab a beer!
				</p>

			</div>
		</div>
	</div>

	<!-- SECTION 7 -->


	<div class="section">

		<div class="content-wrapper">

			<div class="section__header">Want to know how it all got started?</div>

			<div class="container container--half">

				<img class="container__image" src="">

			</div>

			<div class="container container--half">

				<p class="container__text container__text--align-center-left container__text--top-margin">Is 100% natural juice actually natural?<br><br> Read more about this lovely Dutch lady's dilemma and the origins of GreenerU.<br></p>

				<a class="button button--pull-left" href="how-it-started.html">Read more!</a>

			</div>
				
		</div>

	</div>

</div>

