
<div class="flash-messages-home">
	<%= render 'shared/flash_messages' %>	
</div>

<%= render 'cover' %>


<!-- News -->


<div class="section" id="news">

	<div class="content-wrapper">

		<h2 class="section__header">News</h2>
		
		<div class="container container--half">
			<iframe src="http://www.facebook.com/plugins/likebox.php?href=http%3A%2F%2Fwww.facebook.com%2F763020623758888&amp;width=650&amp;colorscheme=light&amp;show_faces=true&amp;border_color&amp;stream=true&amp;header=true&amp;height=450" scrolling="yes" style="height:450px;  " class="container__iframe" allowtransparency="true" frameborder="0"></iframe>
		</div>

		<div class="container container--half">
			<!-- LightWidget WIDGET -->
			<iframe src="//lightwidget.com/widgets/fc63625f85a7def14f4371e98b031170a1938c94.html" id="lightwidget_fc63625f85" name="lightwidget_fc63625f85"  scrolling="no" allowtransparency="true" class="lightwidget-widget container__iframe"></iframe>
		</div>

		<div class="container">
			<iframe src="http://www.youtube.com/embed/?listType=user_uploads&amp;list=amsterdamconnection" width="480" height="500" class="container__iframe"></iframe>              
		</div>

	</div>
</div>


<!-- Lineup -->


<div class="section section--black" id="lineup">

	<div class="content-wrapper">

		<h2 class="section__header section__header--white">The Line-up</h2>

		<%= render @guests %>	

		<div class="container">
			<h3 class="container__header container__header--white container__header--font">
				<%= link_to 'See More!', guests_path %>
			</h3>
		</div>

	</div>
</div>	


<!-- Info -->


<div class="section" id="info">

	<div class="content-wrapper">

		<div class="section__header">Get in touch</div>

		<div class="container container--half">

		</div>

		<div class="container container--half">


		</div>
			
	</div>

</div>

<!-- Sponsers -->

<div class="section">
	<div class="slider">
						
		<div class="slider__element">
		
			<%= image_tag("adam-conn.png", class: "slider__image") %>
			<%= image_tag("bluesquare.png", class: "slider__image") %>
			<%= image_tag("gmeente.png", class: "slider__image") %>
		
		</div>
	
		<div class="slider__element">
		
			<%= image_tag("kozen.png", class: "slider__image") %>
			<%= image_tag("invincible.png", class: "slider__image") %>
			<%= image_tag("shutup&trick.png", class: "slider__image") %>
	
		
		</div>
	
	</div>
</div>
